@page "/about"
@model CreditsModel
@{
    ViewData["Title"] = "Guid Generator - About";
}

<div class="text-center pt-8">
    <div class="p-3">
        Inspired by this <a class="font-semibold text-blue-700 hover:text-blue-600" href="https://twitter.com/jfversluis/status/1660686532733181952?s=20" rel="noopener">tweet</a> from <a class="font-semibold text-blue-700 hover:text-blue-600" href="https://twitter.com/jfversluis" target="_blank" rel="noopener">Gerald Versluis</a>
    </div>
    <a class="font-semibold text-blue-700 hover:text-blue-600" href="/">Take me back to the GUIDs!</a>
</div>