<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Free Guid & UUID Generator" />
    <meta name="keywords" content="guid, guid generator, uuid, uuid generator, new guid, c# guid, guid new guid" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Guid</title>
    <link rel="stylesheet" href="~/css/bundle.css" asp-append-version="true" />
</head>
<body class="flex flex-col h-screen space-around antialiased">
    <div class="mb-auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer aria-labelledby="footer-heading" class="flex p5">
        <h2 id="footer-heading" class="sr-only">Footer</h2>
        <div class="text-xs text-gray-600 w-full mx-auto max-w-7xl px-6 pb-8 pt-4 lg:px-8">
            <div class="flex justify-between">
                <div class="flex gap-4">
                    <a class="font-semibold text-blue-700 hover:text-blue-600" href="/">Home</a>
                    <a class="font-semibold text-blue-700 hover:text-blue-600" href="/docs">Docs</a>
                    <a class="font-semibold text-blue-700 hover:text-blue-600" href="/about">About</a>

                </div>
                <div class="flex justify-center mb-2">
                    <div>
                        <a class="font-semibold text-blue-700 hover:text-blue-600" href="https://github.com/codymullins/guid.new/issues">Submit a feature request</a>
                    </div>
                </div>
                <div>
                    <a href="https://twitter.com/codemullins" class="text-gray-500 hover:text-gray-400" rel="noopener" target="_blank">
                        <span class="sr-only">Twitter</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>